.el-table td, .el-table th {
	padding: 5px 0;
}
.el-table .el-table__header-wrapper th {
	background-color: #eee;
}
.el-table .el-table__body-wrapper table {
	font-size: 12px;
}
.el-pagination {
	text-align: center;
	margin-top: 10px;
}
.content-wrapper {
	position: relative;
	width: calc(100% - 40px);
	margin: 10px auto 0;
}
.content-wrapper .left-content {
	width: 260px;
	padding-bottom: 20px;
}
.content-wrapper .left-content .user-message {
	box-sizing: border-box;
	width: 100%;
	height: 600px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	padding: 5px 10px 10px;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .left-content .user-message .title {
	font-size: 12px;
	color: #646d82;
}
.content-wrapper .left-content .user-message .title b {
	font-size: 16px;
	color: #2281ff;
}
.content-wrapper .left-content .user-message .user-card {
	margin-top: 35px;
	text-align: center;
}
.content-wrapper .left-content .user-message .user-card img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
}
.content-wrapper .left-content .user-message .user-card p {
	line-height: 20px;
	font-size: 12px;
	color: #646d82;
}
.content-wrapper .left-content .user-message .user-card .phone {
	color: #a6b1c2;
}
.content-wrapper .left-content .user-message .user-card .timeless span {
	color: #006eff;
}
.content-wrapper .left-content .user-message .judge-card,
.content-wrapper .left-content .user-message .preven-card {
	margin-top: 30px;
	text-align: center;
}
.content-wrapper .left-content .user-message .judge-card .tit,
.content-wrapper .left-content .user-message .preven-card .tit {
	font-size: 14px;
	margin-bottom: 20px;
}
.content-wrapper .left-content .user-message .judge-card .judge-progress,
.content-wrapper .left-content .user-message .judge-card .preven-progress {
	display: inline-block;
	margin: 0 10px;
}
.content-wrapper .left-content .zdr-message {
	box-sizing: border-box;
	margin-top: 10px;
	width: 100%;
	height: 200px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	padding: 5px 10px 10px;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .left-content .zdr-message .title {
	font-size: 14px;
}
.content-wrapper .left-content .zdr-message .zdr-card {
	margin-top: 10px;
	padding: 30px 0;
}
.content-wrapper .left-content .zdr-message .zdr-card .des {
	padding-left: 25px;
	line-height: 20px;
	font-size: 12px;
}
.content-wrapper .left-content .zdr-message .zdr-card .des .name {
	color: #646d82;
	margin-right: 5px;
}
.content-wrapper .left-content .zdr-message .zdr-card .des .phone {
	color: #006eff;
	margin-right: 20px;
}
.content-wrapper .left-content .zdr-message .zdr-card .des .work {
	color: #ffb35e;
}
.content-wrapper .right-content {
	position: absolute;
	top: 0;
	left: 270px;
	width: calc(100% - 270px);
	min-width: 970px;
}
.content-wrapper .right-content .tit {
	font-weight: normal;
}
.content-wrapper .right-content .top-tips {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 0;
	background: #fff;
	border-radius: 4px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .right-content .top-tips .card {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	margin: 0 calc((100% - (320px * 3)) / 6);
}
.content-wrapper .right-content .top-tips .card .tit {
	color: #f00;
}
.content-wrapper .right-content .top-tips .card .time {
	color: #646d82;
	margin-right: 10px;
}
.content-wrapper .right-content .top-tips .card .name {
	color: #ffba00;
	margin-right: 10px;
}
.content-wrapper .right-content .top-tips .card .action {
	color: #646d82;
}
.content-wrapper .right-content .mid-card {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 450px;
}
.content-wrapper .right-content .mid-card .history-stat {
	position: relative;
	width: calc(60% - 10px);
	height: 100%;
	font-size: 14px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 5px 10px 10px;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .right-content .mid-card .history-stat  .hisroty-dateselect {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 1;
}
.content-wrapper .right-content .mid-card .history-stat .history-stat-chart {
	width: 100%;
	height: 415px;
}
.content-wrapper .right-content .mid-card .nearly-table {
	position: absolute;
	left: 60%;
	top: 0;
	width: 40%;
	height: 100%;
	font-size: 14px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 5px 10px 10px;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .right-content .mid-card .nearly-table .more-nearly {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 12px;
	color: #006eff;
}
.content-wrapper .right-content .mid-card .nearly-table .el-table__header-wrapper {
	font-size: 12px;
}
.content-wrapper .right-content .bottom-card {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 300px;
	font-size: 0;
	white-space: nowrap;
}
.content-wrapper .right-content .bottom-card .case-stat,
.content-wrapper .right-content .bottom-card .fun-stat,
.content-wrapper .right-content .bottom-card .source-stat {
	display: inline-block;
	width: calc((100% - 20px) / 3);
	margin-right: 10px;
	font-size: 14px;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 5px 10px 10px;
	box-shadow: 0px 6px 20px 0px rgba(193, 207, 217, 0.2);
}
.content-wrapper .right-content .bottom-card .case-stat-chart,
.content-wrapper .right-content .bottom-card .fun-stat-chart {
	width: 100%;
	height: 265px;
}
.content-wrapper .right-content .bottom-card .source-stat {
	margin: 0;
}
.content-wrapper .right-content .bottom-card .source-stat .source-stat-wrapper {
	width: 100%;
	padding-top: 10px;
}
.content-wrapper .right-content .bottom-card .source-stat .source-stat-wrapper p {
	position: relative;
	margin-top: 15px;
	font-size: 12px;
}
.content-wrapper .right-content .bottom-card .source-stat .source-stat-wrapper p .num {
	position: absolute;
	top: 0;
	right: 20px;
}