body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f7;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.el-dialog__header {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background-color: #006eff;
}
.el-dialog__header .el-dialog__title {
    font-size: 16px;
    color: #fff;
}
.el-dialog__headerbtn {
    top: 6px;
    right: 10px;
}
.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}
.el-dialog__headerbtn .el-dialog__close::before {
    content: '\e78d'
}
.el-dialog__body {
    padding: 10px 20px;
}
.el-dialog__footer {
    text-align: center;
}
.el-dialog__footer .el-button {
    padding: 10px 20px;
}