.system-manage-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    min-height: calc(100vh - 120px);
}
.system-manage-wrapper .child-wrapper {
	width: 100%;
}
.system-manage-wrapper .child-wrapper .manage-operate-btn {
	font-size: 20px;
	color: #409EFF;
}
.system-manage-wrapper .child-wrapper .manage-operate-btn i {
	margin-right: 5px;
	cursor: pointer;
}
.system-manage-wrapper .usermanage-dialog-wrapper {
	width: 100%;
	font-size: 0;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-hd {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 80px;
	font-size: 12px;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-hd .usermanage-hd-holder {
	display: inline-block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 20px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 4px;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-hd-des {
	display: inline-block;
	margin-top: 10px;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-content {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: calc(100% - 80px);
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-content .el-form-item {
	margin-bottom: 0;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-content .el-form-item .el-select,
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-content .el-form-item .el-date-editor {
	width: 100%;
}
.system-manage-wrapper .child-table-search {
	position: absolute;
	top: 5px;
	right: 20px;
	height: 24px;
}
.system-manage-wrapper .child-table-search .search-input {
	width: 300px;
	margin-right: 10px;
}
.system-manage-wrapper .usermanage-dialog-wrapper .usermanage-content .el-form-item .el-form-item__error{
	position: relative;
}

div.zTreeDemoBackground {width:250px;height:362px;text-align:left;}
ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:360px;overflow-y:scroll;overflow-x:auto;}


.content-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0px;
}
.content-wrapper .input_class{
    width: 300px;
}
.content-wrapper .identity-dialog-wrapper {
    width: 100%;
    font-size: 0;
}
.content-wrapper .identity-dialog-wrapper .identity-hd {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 100px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .6);
}
.content-wrapper .identity-dialog-wrapper .identity-content {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: calc(100% - 100px);
    margin-left: 20px;
}
.search {
	width: 303px;
	height: 36px;
	float:right;
    margin-right: 15px;
}

.new_config {
	width: 160px;
	height: 36px;
	float:right;

}
.input_form {
    width: 150px;
}
.config {
    clear: both;
}
.identityConfig_dialog {
    border-radius: 4px;
}
.head-dialog{
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    background: #006eff;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    color:#dde7ff;
}
.img-list img {
    width: 100px;
    height: 100px;
}
.img-select {
    overflow-y: auto;
    max-height: 230px;
}
.el-dialog__headerbtn  {
	top: 10px;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader .picture-hd-holder {
    display: inline-block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
}
.avatar {
    width: 100px;
    height: 100px;
    display: block;
}

